table.dataTable.dtr-inline.collapsed > tbody > tr > td:last-child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:last-child {
  position: relative;
  padding-right: 30px;
  cursor: pointer; }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td:last-child:after,
  table.dataTable.dtr-inline.collapsed > tbody > tr > th:last-child:after {
    top: 8px;
    right: 4px;
    height: 16px;
    width: 16px;
    padding-left: 10px;
    display: block;
    position: absolute;
    top: 15px;
    color: #444;
    text-align: center;
    line-height: 14px;
    box-sizing: content-box;
    content: '\25c0'; }
  table.dataTable.dtr-inline.collapsed > tbody > tr > td:last-child.dataTables_empty:after,
  table.dataTable.dtr-inline.collapsed > tbody > tr > th:last-child.dataTables_empty:after {
    display: none; }
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:last-child:after,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:last-child:after {
  content: '\25bc'; }
table.dataTable.dtr-inline.collapsed > tbody > tr.child td:after {
  display: none; }
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:last-child,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:last-child {
  padding-left: 27px; }
  table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:last-child:before,
  table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:last-child:before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 12px; }
table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
  position: relative;
  cursor: pointer; }
  table.dataTable.dtr-column > tbody > tr > td.control:after,
  table.dataTable.dtr-column > tbody > tr > th.control:after {
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    position: absolute;
    top: 15px;
    color: #444;
    text-align: center;
    line-height: 14px;
    box-sizing: content-box;
    content: '\25c0'; }
table.dataTable.dtr-column > tbody > tr.parent td.control:after,
table.dataTable.dtr-column > tbody > tr.parent th.control:after {
  content: '\25bc'; }
table.dataTable > tbody > tr.child {
  padding: 0.5em 1em; }
  table.dataTable > tbody > tr.child:hover {
    background: transparent !important; }
  table.dataTable > tbody > tr.child ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    table.dataTable > tbody > tr.child ul li {
      border-bottom: 1px solid #efefef;
      padding: 0.5em 0; }
      table.dataTable > tbody > tr.child ul li:first-child {
        padding-top: 0; }
      table.dataTable > tbody > tr.child ul li:last-child {
        border-bottom: none; }
  table.dataTable > tbody > tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold; }
